<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand p-2" href="/">Chaotic Goods</a>
  <ul class="navbar-nav ms-auto me-3">
  <li class="nav-item"><a class="nav-link" href="admin/products">Products</a></li>
  <li class="nav-item"><a class="nav-link" href="admin/categories">Categories</a></li>
  <li class="nav-item"><a class="nav-link" href="/brands">Brands</a></li>
</ul>
</nav>
